<h2>Hola {{nombreCliente}},</h2>
<p>Lamentamos informarte que tu solicitud para el
  <b>{{marcaCoche}} {{modeloCoche}} ({{anoCoche}})</b>
  ha sido
  <b>RECHAZADA</b>.</p>

<p>{{mensaje}}</p>

<br />
<p>Puedes revisar otras opciones o contactar a un asesor para más información.</p>
<p><i>El equipo de Ventas</i></p>