<h2>¡Felicidades, {{nombreCliente}}!</h2>
<p>Tu solicitud para el
  <b>{{marcaCoche}} {{modeloCoche}} ({{anoCoche}})</b>
  ha sido
  <b>APROBADA</b>.</p>

<p><b>Pago mensual:</b> {{pagoMensual}}</p>
<p><b>Plazo:</b> {{plazo}} meses</p>
<p><b>Total a pagar:</b> {{totalPagado}}</p>

<p>{{mensaje}}</p>

<br />
<p>Gracias por confiar en nosotros.</p>
<p><i>El equipo de Ventas</i></p>